@rendermode InteractiveServer
@if(visible)
{
    <h3>@Mensaje</h3>
    <button class="btn btn-primary" @onclick="Cerrar">Aceptar</button>
    <button class="btn btn-secondary" @onclick="Cerrar">Cancelar</button>
}
@code{
    private bool visible = false;
    [Parameter]
    public string Mensaje {get;set;}="";
    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;
    }
}