@rendermode InteractiveServer
@if (visible)
{
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> @Mensaje
                    <button type="button" class="close" @onclick="Cerrar">x</button>
                </div>
}
@code {
    private bool visible = false;
    [Parameter]
    public string Mensaje { get; set; } = "";
    private void Cerrar()
    {
        visible = false;
    }
    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }
}