@page "/"
@page "/{Id:int?}"
@using System.Security.Cryptography
@using SGE.Aplicacion
@using SGE.Aplicacion.Servicios
@inject NavigationManager Navigation
@using SGE.Repositorios
@rendermode InteractiveServer
@inject ManejarLogin manejarLogin
@using System.Text
<PageTitle>Home</PageTitle>

@if (Id == 23){
    <h1>Hello, world!</h1>
}

Welcome to your new app.
@code {
    [Parameter]
    public int? Id { get; set; }
    Usuario user = new Usuario();
    
}