<div class="flex">
    <div>
        <h1>Bienvenido al sistema de gestión de expedientes.</h1>
        <p> Por favor, inicie sesión o regístrese para continuar.</p>
        <p>Si posee los permisos puede:</p>
        <ol>
            <li>Crear expedientes</li>
            <li>Modificar expedientes</li>
            <li>Eliminar expedientes</li>
            <li>Crear trámites</li>
            <li>Modificar trámites</li>
            <li>Eliminar trámites</li>
        </ol>
        <p>Además de consultar datos como <strong>fecha de creación</strong> o el <strong>estado</strong> del expediente</p>
    </div>
</div>