@page "/login"
@using System.Security.Cryptography
@using SGE.Aplicacion
@using SGE.Aplicacion.Servicios
@inject NavigationManager Navigation
@using SGE.Repositorios
@rendermode InteractiveServer
@inject ManejarLogin manejarLogin
@using System.Text

 <EditForm Model="@user">
    <div class="form-group">
        <label for="correoelectronico">Correo electrónico:</label>
        <InputText id="correoelectronico" @bind-Value="user.CorreoElectronico" class="form-control" />
        <label for="contraseña">Contraseña:</label>
        <InputText id="contraseña" @bind-Value="user.Contraseña" class="form-control" />
    </div>
    <button type="submit" @onclick="Entrar" class="btn btn-primary">Registrar</button>
</EditForm>
@if (Loggeado)
{
    <div class="alert alert-danger" role="alert">
        Usuario no valido
    </div>
}


@code
{
    bool Loggeado = false;
    private Usuario user = new();

    private void Entrar()
    {
        try{
            user = manejarLogin.Loggear(user.CorreoElectronico, user.Contraseña);
            int id = int.Parse(Encoding.UTF8.GetString(SHA256.HashData(Encoding.UTF8.GetBytes(user.Id.ToString()))));
            if(user is not null)
            Navigation.NavigateTo($"/{id}");
        }
        catch{
            Loggeado = true;
            user = new();
        }
        user = new();
    }

    protected override void OnInitialized()
    {
    }
    
} 