@page "/login"
@using System.Security.Cryptography
@using SGE.Aplicacion
@inject NavigationManager Navigation
@using SGE.Repositorios
@rendermode InteractiveServer
@inject ManejarLogin manejarLogin
@using System.Text
<PageTitle>Iniciar sesión</PageTitle>
<h3>Iniciar sesión</h3>
<EditForm Model="@_user">
    <div class="form-group">
        <label for="correoelectronico">Correo electrónico:</label>
        <InputText id="correoelectronico" @bind-Value="_user.CorreoElectronico" class="form-control" />
        <label for="contraseña">Contraseña:</label>
        <InputText type="password" id="contraseña" @bind-Value="_user.Contraseña" class="form-control" />
    </div>
    <button type="submit" @onclick="Entrar" class="btn btn-primary">Login</button>
</EditForm>
@if (_loggeado)
{
    <div class="alert alert-danger " role="alert">
        <strong class=>Usuario no valido!</strong>
        <button type="button" class="close" @onclick="Cerrar">x</button>
    </div>
}


@code
{
    bool _loggeado = false;
    Usuario _user = new();



    void Entrar()
    {
        try
        {
            _user = manejarLogin.Loggear(_user.CorreoElectronico, _user.Contraseña);
            if (_user != null)
                Navigation.NavigateTo($"/{_user.Id}");
        }
        catch
        {
            _loggeado = true;
            _user = new();
        }
    }

    void Cerrar() => _loggeado = false;


}
<style>
    .margin {
        margin-bottom: 10px;
        margin-top: 30px;

    }

    .right_header {
        color: #fff;
        float: right;
        margin: 50px 40px 0px 0px;
    }
</style>
