@page "/login"
@using System.Security.Cryptography
@using SGE.Aplicacion
@using SGE.Aplicacion.Servicios
@inject NavigationManager Navigation
@using SGE.Repositorios
@rendermode InteractiveServer
@inject ManejarLogin manejarLogin
@using System.Text
<PageTitle>Iniciar sesión</PageTitle>
<h3>Iniciar sesión</h3>
 <EditForm Model="@user">
    <div class="form-group">
        <label for="correoelectronico">Correo electrónico:</label>
        <InputText id="correoelectronico" @bind-Value="user.CorreoElectronico" class="form-control" />
        <label for="contraseña">Contraseña:</label>
        <InputText type="password" id="contraseña" @bind-Value="user.Contraseña" class="form-control" />
    </div>
    <button type="submit" @onclick="Entrar" class="btn btn-primary">Login</button>
</EditForm>
@if (Loggeado)
{
        <div class="alert alert-danger" role="alert">
            <strong class=>Usuario no valido!</strong>
            <button type="button" class="close" @onclick="Cerrar">x</button>
        </div>
}


@code
{
    bool Loggeado = false;
    private Usuario user = new();

    

    private void Entrar()
    {
        try{
            user = manejarLogin.Loggear(user.CorreoElectronico, user.Contraseña);
            if(user != null)
                Navigation.NavigateTo($"/{user.Id}");
        }
        catch{
            Loggeado = true;
            user = new();
        }
    }

    private void Cerrar() => Loggeado = false;
}
