@page "/usuarios/modificar/{idUsuario:int}"
@inject NavigationManager Navigation
@using SGE.Aplicacion
@inject CasoDeUsoUsuarioModificar casoDeUsoUsuarioModificar
@inject CasoDeUsoUsuarioObtenerPorId casoDeUsoUsuarioObtenerPorId
@inject NavigationManager Navigation
@rendermode InteractiveServer

<EditForm Model="@user">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" placeholer="aux.Nombre" @bind-Value="user.Nombre" class="form-control margin" />
        <label for="apellido">Apellido:</label>
        <InputText id="apellido" placeholer="aux.Apellido" @bind-Value="user.Apellido" class="form-control margin" />
        <label for="correoelectronico">Correo electrónico:</label>
        <InputText id="correoelectronico" placeholer="aux.CorreoElectronico" @bind-Value="user.CorreoElectronico"
            class="form-control margin" />
        <label for="contraseña">Contraseña:</label>
        <InputText type="password" id="contraseña" @bind-Value="aux.Contraseña" class="form-control margin" />
    </div>
</EditForm>
<button type="submit" @onclick="Modificar" class="btn btn-primary margin">Registrar</button>

@if (mensajeError != "")
{
    <div class="alert alert-danger margin" role="alert">
        <strong>Error!</strong> @mensajeError.
        <button type="button" class="close" @onclick="CerrarError">x</button>
    </div>
}
@code
{

    [Parameter]
    public int idUsuario { get; set; }

#nullable disable
    Usuario user;
    Usuario aux;
#nullable enable
    string mensajeError = "";
    private void CerrarError() => mensajeError = "";
    private void Modificar()
    {
        try
        {
            casoDeUsoUsuarioModificar.Ejecutar(1, user);
            Navigation.NavigateTo($"/usuarios/{1}");
        }
        catch (Exception e)
        {
            mensajeError = e.Message;
        }
    }
    protected override void OnParametersSet()
    {
        user = casoDeUsoUsuarioObtenerPorId.Ejecutar(idUsuario);
        aux = user;

    }


}


<style>
    .margin {
        margin-bottom: 10px;
        margin-top: 30px;

    }
</style>