@page "/register"
@using SGE.Aplicacion
@inject NavigationManager Navigation
@using SGE.Repositorios
@namespace SGE.Aplicacion.CasosDeUso
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioAlta casoDeUsoUsuarioAlta
@inject ManejarLogin manejarLogin
<PageTitle>Registrarse</PageTitle>
<h3>Registrarse</h3>

<EditForm Model="@user">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" @bind-Value="user.Nombre" class="form-control margin" />
        <label for="apellido">Apellido:</label>
        <InputText id="apellido" @bind-Value="user.Apellido" class="form-control margin" />
        <label for="correoelectronico">Correo electrónico:</label>
        <InputText id="correoelectronico" @bind-Value="user.CorreoElectronico" class="form-control margin" />
        <label for="contraseña">Contraseña:</label>
        <InputText type="password" id="contraseña" @bind-Value="user.Contraseña" class="form-control margin" />
    </div>
    <button type="submit" @onclick="Agregar" class="btn btn-primary margin">Registrar</button>
</EditForm>

@if (YaRegistrado)
{
    <div class="alert alert-danger" role="alert">
        <strong>Ya hay un usuario con ese correo y contraseña</strong>
        <button type="button" class="close alineadoDer" @onclick="CerrarReg">x</button>
    </div>
}
else
if (NoValido)
{
    <div class="alert alert-danger" role="alert">
        <strong>Usuario no valido!</strong>
        <button type="button" class="close alineadoDer" @onclick="CerrarVal">x</button>
    </div>
}


@code
{
    bool YaRegistrado = false;
    bool NoValido = false;
    private Usuario user = new();

    private void CerrarReg() => YaRegistrado = false;

    private void CerrarVal() => NoValido = false;

    private void Agregar()
    {

        try
        {
            manejarLogin.Loggear(user.CorreoElectronico, user.Contraseña);
            YaRegistrado = true;
        }
        catch
        {
            try
            {
                casoDeUsoUsuarioAlta.Ejecutar(1, user);
                Navigation.NavigateTo($"/{user.Id}");
            }
            catch
            {
                NoValido = true;
            }
        }
        user = new();

    }
}

<style>
    .margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .alineadoDer {
        align-content: ;
    }
</style>